[default]
#input_dir = data/mu/20140821_MEMSel_HitFit_Chi2_5
#output_dir = data/mu/20140821_MEMSel_HitFit_Chi2_5
input_dir = data/mu/20140701_MEMSel_Mu_Final
output_dir = data/mu/20140701_MEMSel_Mu_Final
datasets = TTbar:W1JetsToLNu_TuneZ2:W2JetsToLNu_TuneZ2:W3JetsToLNu_TuneZ2:W4JetsToLNu_TuneZ2:DYJetsToLL:T_s-channel:Tbar_s-channel:T_t-channel:Tbar_t-channel:T_tW-channel:Tbar_tW-channel:Data
lumi = 19.762
cutset_definitions = primary vertex:1 isolated muon:dimuon veto:electron veto:$n_{jets} \geq 4$ @30GeV:$n_{jets} = 4$: $2 \times$ CSVT: HitFit
combine_single_top = True
combine_wjets = True
single_top_channels = T_s-channel:Tbar_s-channel:T_t-channel:Tbar_t-channel:T_tW-channel:Tbar_tW-channel
wjets_channels = W1JetsToLNu:W2JetsToLNu:W3JetsToLNu:W4JetsToLNu
decay_channel = muon

[cross_sections]
# NNLO - 252.89
#TTbar_muon = 37.9335
#TTbar_mu_background = 214.9565

# Measured Total - 234.2
TTbar_muon = 35.13
TTbar_mu_background = 199.07


#TTbar_muon = 33.8
#TTbar_mu_background = 191.4
T_s-channel_mu_background = 3.79
Tbar_s-channel_mu_background = 1.76
T_t-channel_mu_background = 56.4
Tbar_t-channel_mu_background = 30.7
T_tW-channel_mu_background = 11.1
Tbar_tW-channel_mu_background = 11.1
DYJetsToLL_mu_background = 3503.71
WJetsToLNu_TuneZ2Star_mu_background = 37509
W1JetsToLNu_TuneZ2_mu_background = 6662.8
W2JetsToLNu_TuneZ2_mu_background = 2159.2
W3JetsToLNu_TuneZ2_mu_background = 640.4
W4JetsToLNu_TuneZ2_mu_background = 264

[preselection]
WJetsToLNu_TuneZ2Star_mu_background = 0.373026415085
W1JetsToLNu_TuneZ2_mu_background = 0.431670177012
W2JetsToLNu_TuneZ2_mu_background = 0.623487147678
W3JetsToLNu_TuneZ2_mu_background = 0.840585169398
W4JetsToLNu_TuneZ2_mu_background = 0.955798735141


[latex]
Data_muon = Data (\mu)
TTbar_muon = t\bar{t} \to \mu
TTbar_mu_background = t\bar{t} \to other
WJetsToLNu_TuneZ2Star_mu_background = Wl\nu + jets
T_s-channel_mu_background = t, s - channel
T_t-channel_mu_background = t, t - channel
T_tW-channel_mu_background = t, tW - channel
Tbar_s-channel_mu_background = \bar{t}, s - chan.
Tbar_t-channel_mu_background = \bar{t}, t - chan.
Tbar_tW-channel_mu_background = \bar{t}, tW - chan.
DYJetsToLL_mu_background = Z + jets
W1JetsToLNu_TuneZ2_mu_background = Wl\nu + 1 jet
W2JetsToLNu_TuneZ2_mu_background = Wl\nu + 2 jets
W3JetsToLNu_TuneZ2_mu_background = Wl\nu + 3 jets
W4JetsToLNu_TuneZ2_mu_background = Wl\nu + 4 jets

# Needed for translations, do not touch
Total_MC = Total MC 
Single_Top = Single Top
Data = Data
WJets = Wl\nu + jets
Eff = \epsilon_{t\bar{t}}
Pur = \pi
EffPur = \epsilon_{t\bar{t}} \cdot \pi